.container{
    width: 100%; 
    background-color: #35353a;
    box-shadow: 1px 1px 7px #ededed;
    border-radius: 10px;
}

.searchbar{
    width: 100%;
    margin: 25px 0;
    background-color: #35353a;
    box-shadow: 1px 1px 7px #ededed;
    border-radius: 10px;
    padding:16px 10px;
    display: flex;
    align-items: center;
}
.searchbar input{
    width: 300px;
    border-radius: 5px;
    height: 46px;
    line-height: 32px;
    padding: 2px 5px;
    margin-right: 20px;
}
.selection{
    width: 32px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    position: relative;
}
.selection span{
    background-color: #ededed;
    padding: 10px 10px;
    display: block ;
    width: 80px;
    background-color: #3d4343;
    border-radius: 10px;
}
.selection__list{
    position: absolute;
    box-shadow: 1px 1px 7px #ededed;
    background-color: #303835;
    transition: all 400ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    top: 50px;
    width: 80px;
    left: -4px;
    padding:2px 20px;
    
}
.selection:hover .selection__list{
    visibility: visible;
    opacity: 1;
}
.selection__list li{
    margin: 5px 0;
    padding: 5px;
}
.selection__list li:hover{
   color: aqua;
   font-weight: 700;
}
.selection__list__active{
   color: aqua;
   font-weight: 700;
}
