
.searchbar{
    width: 100%;
    margin: 25px 0;
    background-color: #35353a;
    box-shadow: 1px 1px 7px #ededed;
    border-radius: 10px;
    padding:16px 10px;
    display: flex;
    align-items: center;
}
.searchbar input{
    width: 300px;
    border-radius: 5px;
    height: 40px;
    line-height: 32px;
    padding: 2px 5px;
    margin-right: 20px;
}
select{
  padding: 8px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    position: relative;
}
select option{
    padding: 8px;
    margin: 8px 0;
   font-size: 16px;
  
}



